* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --color-primary: #0d0210;
    --color-primary-darker1: #ffffff;
    --color-primary-darker: #0b000e;
    --color-secundary: #f0a818;
    --color-secundary-opacity: #f0a818;
    --color-secundary-darker: #d4971b;
    --color-neutral: #ffffff;
    --color-neutral-darker: #eeeeee;
}

body {
    background: var(--color-primary);
    color: var(--color-neutral);

}

.section {
    padding-top: 100px 0;
    padding-left: 40px;
    padding-bottom: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}


ul li a:hover {
    cursor: pointer;
    color: var(--color-secundary);
}

footer{
    padding: 20px 5%;
    text-align: center;
    border-top: 2px solid var(--color-primary-darker);
}

a{
    text-decoration: none;
    color: var(--color-neutral);
}

.main {
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 85vh;
}

.main h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 10px;
    letter-spacing: -4px;
}

.main h1 span {
    color: var(--color-secundary);
}

.main p {
    font-size: 20px;
    margin-bottom: 60px;
    max-width: 800px;
    color: var(--color-neutral-darker);
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background: var(--color-secundary);
    color: var(--color-neutral);
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-title {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 5px;
    background-color: var(--color-secundary);
}

.box-projetc-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.img-project {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.box-projetc-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.project-cards{
    background-color: var(--color-primary-darker);
    border-radius: 5px;
    overflow: hidden;

}

.project-cards-info{
    padding: 20px;
}

.project-cards-info h3 {
    margin-bottom: 10px;
}

.project-cards-info p {
    color: var(--color-neutral-darker);
    margin-bottom: 10px;
}

.project-cards-info a {
    color: var(--color-neutral);
    font-weight: bold;
    padding: 10px;
}

.project-cards-info a:hover {
    color: var(--color-secundary);
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1800px;
}

.about-img{
    height: 600px;
    background-color: var(--color-primary-darker);
    border-radius: 5px;
}

.about-content h2 {
    margin-bottom: 30px;
}

.about-content p {
    margin-bottom: 20px;
    color: var(--color-neutral-darker);
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-tags{
    background-color: var(--color-secundary);
    color: var(--color-primary);
    padding: 8px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 160px;
    color: var(--color-neutral);
}

.contact-button:hover{
    opacity: 0.9;
}

.whatsapp{ background-color: #25D366; }

.email{ background-color: #EA4335;}

.linkedin{ background-color: #0077B5;}

.github{ background-color: #333; }

.hover-cursor-effect:hover{
    transform: translateY(-1px);
    transition: transform 0.2s ease-in-out;
}

.hover-cursor-effect{
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    header{
        padding: 20px;
    }

    ul{
        gap: 20px;
        justify-content: flex-start;
    }

    .section{
        padding: 60px 20px;
    }

    .about{
        grid-template-columns: 1fr;

    }

    .about-img{
        height: auto;
    }

}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Para barras verticais */
    height: 10px; /* Para barras horizontais */
  }
  
  /* Fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: --var(--color-primary); 
    border-radius: 10px;
  }
  
  /* Barra de rolagem em si */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Quando o usuário passa o mouse sobre a barra */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f; 
  }
  