@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:        #FFF;
    --orange:       #FF9900;
    --grey:         #262626;
    --light-grey:   #4a4a4a;
    --dark-grey:    #050505;
    --black:        #000000;
    --font: 'Fira Code';
}

body{
    background-color: var(--grey);
    height: 100%;
    width: 100%;
    font-family: var(--font);
}

header{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    min-height: 60px;
    background: linear-gradient(270deg, #F29100 0%, #F90 49.79%, #F29100 100%), radial-gradient(235.44% 203.86% at -2.85% 183.11%, rgba(255, 122, 0, 0.40) 0%, rgba(98, 47, 0, 0.21) 37.74%, rgba(0, 0, 0, 0.09) 77.08%, rgba(50, 56, 63, 0.00) 100%);
    box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(40px);

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main, footer{
    padding: 30px;
}

section{
    font-size: 25px;
    color: var(--orange);
    padding-top: 120px;
}

h1{
    font-size: 55px;
    color: var(--orange);
}

.nav-title{
    font-size: 20px;
    margin-right: 60px;
    color: var(--black);
    text-decoration: none;
}

.nav-title:hover{
    color: var(--light-grey);
    transition: .04s;
}

.title-name{
    border-right: 4px solid;
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13),
    blinking 0.5s infinite step-end alternate;
}

.text-about, .text-projects{
    font-size: 14px;
    color: var(--orange);
}

.icons{
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    text-decoration: none;
}
.icons:hover{
    color: var(--dark-grey);
    transition: .04s;
}

/*.text-rigth{
    padding
}*/

/*
 Background elements

 .blur-background{
    padding-left: 300px;
    height: 200px !important;
    position: absolute;
    z-index: 1;
    filter: blur(100px);
}

.object-1{
    width: 537.655px;
    height: 494.616px;
    flex-shrink: 0;
    border-radius: 537.655px;
    background: #00FF47;
}
.object-2{
    width: 554.162px;
    height: 473.204px;
    flex-shrink: 0;
    background: #9E2626;
}
.object-3{
    width: 274.723px;
    height: 452.863px;
    flex-shrink: 0;
    background: #31636F;
}
.object-4{
    width: 237.655px;
    height: 194.616px;
    flex-shrink: 0;
    border-radius: 537.655px;
    background: #D9D9D9;
}
.object-5{
    width: 637.655px;
    height: 294.616px;
    flex-shrink: 0;
    border-radius: 537.655px;
    background: #89155B;
}
*/

/* Animations */

@keyframes typing{
    0% {
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent;
    }
}
