@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:        #FFF;
    --orange:       #FF9900;
    --grey:         #262626;
    --light-grey:   #4a4a4a;
    --dark-grey:    #050505;
    --black:        #000000;
    --font: 'Fira Code';
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    font-family: var(--font);
}

header{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    min-height: 60px;
    background: linear-gradient(270deg, #F29100 0%, #F90 49.79%, #F29100 100%), radial-gradient(235.44% 203.86% at -2.85% 183.11%, rgba(255, 122, 0, 0.40) 0%, rgba(98, 47, 0, 0.21) 37.74%, rgba(0, 0, 0, 0.09) 77.08%, rgba(50, 56, 63, 0.00) 100%);
    box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(40px);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main, footer{
    padding: 30px;
}

section{
    font-size: 25px;
    color: var(--orange);
    padding-top: 120px;
}

h1{
    padding-left: 60px;
    font-size: 60px;
    color: var(--orange);
}

.container{
    width: 78%;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(40px);
    z-index: -1;
}

.title-dev{
    padding-top: 150px;
}

.nav-title{
    font-size: 20px;
    margin-right: 60px;
    color: var(--black);
    text-decoration: none;
}

.nav-title:hover{
    color: var(--light-grey);
    transition: .04s;
}

.title-name {
    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
}

.text-about, .text-projects{
    font-size: 14px;
    color: var(--orange);
    z-index: 1;
}

.icons{
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    text-decoration: none;
}

.icons:hover{
    color: var(--dark-grey);
    transition: .04s;
}

.icons-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.svg-background {
    position: fixed;
    z-index: -1;
  }

.text-rigth{
    text-align: right;
}

/* Animations */

@keyframes typing{
    0% {
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent;
    }
}